<!-- Page 4 -->
<div class="row" ng-controller="ThanksController">
  <div id="thanks" class="col-lg-6 col-lg-offset-3">
    <div style="width:100%;height:0;padding-bottom:57%;margin-top:15px;position:relative;"><iframe src="https://giphy.com/embed/6nuiJjOOQBBn2" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    <p>
      Spread the word about the RUSH Act and ask your friends to write to their representatives too.
    </p>

    <div id="share-icons">
      <div class="col-xs-4" ng-repeat="share in shares">
        <a class="share-link"
           ng-click="sharePopup(share.link)"
           ng-bind-html="safeGraphic(share)">
        </a>
      </div>
    </div>
  </div>
</div>
